*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.section-hero{
    background-color: #263552;
    display: flex;
    justify-content: center;
}
h1{
    font-weight: 900;
    font-size: 54px;
    line-height: 1.25;
}
.hero{
    width: 80vw;
    padding: 30px;
    min-height: 100vh;
    background-color: #263552;
    display: flex;
    align-items: center;
}
.pretitle{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: #5fdd99;
}
.subtitle{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-style: italic;
    padding-top: 10px;
}
div .cta-hero{
    padding: 30px 0px;
    margin: 0;
    display: flex;
    align-items: center;
}
div .botao{
    font-weight: 900;
    font-size: 16px;
    line-height: 1.5;
    color: #1E2E4E;
    background-color: #5fdd99;
    padding: 16px 24px;
    margin-right: 30px;
    text-decoration: none;
}
.cta-hero a p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 1.5px;
}
.cta-hero svg{
    padding-left: 24px;
}
.svg-hero{
    width: 800px;
}
